@import url('https://fonts.googleapis.com/css?family=Concert+One');

body {
    font-family: 'Concert One';
    background-color: whitesmoke;
    font-size: 24px;
    margin: 0;
    -webkit-font-smoothing: antialiased
}


#albumId {
    color: black;
    padding: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

span:first-letter {
    text-transform: uppercase;
}

#menu span {
    display: block;
    position: fixed;
    top:0;
    background: rgba(0,0,0,0.5);
    text-shadow: 2px 2px 0px black;
    color: white;
    padding: 10px;
    z-index: 9;
}

#previous {
    left: 0; 
    border-radius: 0 0 3px 0;
}

#next {
    right: 0; 
    border-radius: 0 0 0 3px;
}

#menu span:hover {
    background: black;
    cursor: pointer;
}

#thumbnails {
    margin-top: 1vh;
    margin-bottom: 5vh;
    display: block;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail:hover {
    cursor: pointer;
}

.thumbnail span {
    display: inline-block;
    position: absolute;
    max-width: 130px;
    max-height: 130px;
    overflow: hidden;
    margin: 10px;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 0px black;
}

.thumbnail:hover span {
    display: inline-block;
}

.thumbnail {
    display: block;
    float: left;
    margin-left: 1vh;
    margin-bottom: 1vh;
    margin-top: 0px;
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 3px;
}

.thumbnail img {
    margin: none;
    padding: none;
    position: absolute;
}

#fullImage {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: center;
}

#fullImage span {
    color: white;
    text-shadow: 3px 3px 0px black;
    max-width: 600px;
    width: 80vw;
    display: inline-block;
    margin-top: 1vh;
    text-align: center;
}

#fullImage img {
    max-width: 80vw;
    max-height: 70vh;
    margin-top: 10vh;
}

@media screen and (min-width: 800px) {
    .thumbnail span {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #thumbnails {
        text-align: center;
    }
    .thumbnail {
        display: inline;
        float: none;
        text-align: left;
    }
    
    body {
        margin-top: 60px;
    }
}