@import url('https://fonts.googleapis.com/css?family=Supermercado+One');

body {
    font-family: 'Supermercado One';
    background-color: whitesmoke;
    font-size: 24px;
    margin: 0;
}

#albumId {
    color: hotpink;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.7);
    padding: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

span:first-letter {
    text-transform: uppercase;
}

#menu span {
    display: block;
    position: fixed;
    top:0;
    background: rgba(0,0,0,0.5);
    text-shadow: 2px 2px 0px black;
    color: white;
    padding: 10px;
    z-index: 9;
}

#menu span:hover {
    background: black;
    cursor: pointer;
}

#thumbnails {
    margin-top: 1vh;
    margin-bottom: 5vh;
    display: block;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail span {
    display: none;
}

.thumbnail:hover {
    cursor: pointer;
}


.thumbnail:hover span {
    display: inline-block;
    position: absolute;
    max-width: 130px;
    max-height: 130px;
    overflow: hidden;
    margin: 10px;
    margin-left: -140px;
    color: white;
    font-size: 16px;
    text-shadow: 2px 2px 0px black;
}
.thumbnail {
    display: block;
    float: left;
    margin-left: 1vh;
    margin-bottom: 1vh;
    margin-top: 0px;
    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
}

.thumbnail img {
    margin: none;
    padding: none;
}

#fullImage {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: center;
}

#fullImage span {
    color: white;
    text-shadow: 3px 3px 0px black;
    max-width: 600px;
    width: 80vw;
    display: inline-block;
    margin-top: 1vh;
    text-align: left;
}

#fullImage img {
    max-width: 80vw;
    max-height: 80vh;
    margin-top: 10vh;
}